<div class="form-group condition-inline-field">
  <%= f.label :operator, class: 'sr-only' %>
  <%= f.select :operator, rule_operator_options(f), {}, data: {behavior: 'operator-selector'}, class: 'custom-select custom-select' %>
</div>

<div class="form-group condition-inline-field">
  <%= f.label :value, class: 'sr-only' %>
  <%= f.select :value, Ticket::STATUSES.map {|p| [p.humanize, p]}, {}, data: {behavior: 'value-selector'}, class: 'custom-select custom-select' %>
</div>