<div class="form-group condition-inline-field">
  <%= f.label :value, class: 'sr-only' %>
  <%= f.select :value, Ticket::PRIORITIES.map {|p| [p.humanize, p]}, {}, data: {behavior: 'value-selector'}, class: 'custom-select custom-select' %>
</div>