<div class="row">

  <div class="col-xs-10">
    <div class="row second-navbar">
      <div class="col-xs-12">
        <%= link_to 'Delete', rule_path(@rule), method: :delete %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-7">
        <%= render 'form' %>

      </div>
    </div>

  </div>
</div>